<div class="list">
<ol>
<% @video_games.alphabetical.each do |game| %>
  <li><%= link_to game.name, video_game_path(game), class: "videogame_item", id: "videogame_#{game.id}" %></li><br />
<% end %>
</ol>
</div>
