<h2>Video Game List</h2>
<ol>
<% @video_games.each do |game| %>
  <li><%= link_to game.name, video_game_path(@video_games) %></li><br />
<% end %>
</ol>
<%= link_to "Back", players_path(current_player) %>
<br />
