<h3>Search By Genre:</h3>
  <%= form_tag video_games_path, :method => :get, :class => 'form-search' do %>
  <%= collection_select :genre, :id, Genre.all, :id, :name, include_blank: "All"  %>
  <button class="button">Search</button>
 </div>
<% end %>
