<h2>Welcome <%= link_to current_player.gamer_tag, player_path(current_player) %>!</h2><br />

<%= link_to "Add a new video game", new_player_video_game_path(current_player) %> <br />
<%= link_to "View your games", player_video_games_path(current_player) %> <br /><br />
<%= link_to "Log Out", destroy_player_session_path, method: :delete %>
