/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: Helvetica, Arial, sans-serif;
}

 html {
  background: linear-gradient(130deg, #F4FEFF 50%, #D6F7FA 50%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
 }

h1 {
  letter-spacing: 0.01em;
  color: #0230B5;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

h2 {
  letter-spacing: 0.01em;
  color: #005699;
}

h3 {

}

#welcome {
  font-size: 100%;
  font-weight: 250;
  letter-spacing: 0.01em;
  color: #005699;
  margin-top: 0;
  padding: 0.5em 0.8em;
  border-bottom: 2px solid #333
}

#menu {
    left: 100px;
    width: 200px;
    box-sizing: border-box;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
    letter-spacing: 0.01em;
}

a {
  font-size: 100%;
  color: black;
  text-decoration: none;
  position: relative;
}

a:hover {
  color: #5CAAEF;
}

a:before {
  content: '';
  border-bottom: solid 1px #5CAAEF;
  position: absolute;
  bottom: 0; left: 0;
  width: 100%;

  opacity: 0;
}

a:hover:before {
  opacity: 1.0;
}

a, a:before {
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

.list {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

.inline form { display: inline; }
